<p>Insert fancy charts here</p>

<mat-grid-list cols="3" rowHeight="500px" role="list">
  <mat-grid-tile [colspan]="2" [rowspan]="1" role="listitem">
    <ngx-chartjs
      [data]="mockBar"
      type="bar"
      [height]="400"
      [width]="600"
    ></ngx-chartjs>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1" role="listitem">
    <ngx-chartjs
      [data]="mockPie"
      [height]="300"
      [width]="300"
      type="doughnut"
    ></ngx-chartjs>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1" role="listitem">
    misc 1
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="1" role="listitem">
    <ngx-chartjs
      [data]="mockLine"
      type="line"
      [height]="400"
      [width]="600"
    ></ngx-chartjs>
  </mat-grid-tile>
</mat-grid-list>
