<div class="content">
  <mat-tab-group
    *ngIf="inventoryTabs"
    animationDuration="0ms"
    (selectedTabChange)="tabChange($event)"
  >
    <mat-tab *ngFor="let tab of inventoryTabs" label="{{ tab.title }}">
    </mat-tab>
  </mat-tab-group>

  <table
    *ngIf="this.activeTab && dataSource"
    mat-table
    matSort
    [dataSource]="dataSource"
    class="mat-elevation-z8"
  >
    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element" class="name-cell">
        {{ element.name }}
      </td>
    </ng-container>

    <!-- Current Column -->
    <ng-container matColumnDef="current">
      <th mat-header-cell mat-sort-header="current.count" *matHeaderCellDef>
        Current
      </th>
      <td mat-cell *matCellDef="let element" class="current-cell">
        <a style="float: right">
          {{ element.current.count + " " + element.current.type }}
        </a>
        <mat-progress-bar
          mode="determinate"
          color="black"
          [value]="
            ((element.current.total - element.current.count) /
              element.current.total) *
            100
          "
          matTooltip="Used - {{ element.current.count }} / {{
            element.current.total
          }} {{ element.current.type }}"
        >
        </mat-progress-bar>
      </td>
    </ng-container>

    <!-- Incoming Column -->
    <ng-container matColumnDef="incoming">
      <th mat-header-cell mat-sort-header="incoming.date" *matHeaderCellDef>
        Incoming
      </th>
      <td mat-cell *matCellDef="let element" class="incoming-cell">
        {{
          element.incoming.date +
            " - " +
            element.incoming.count +
            " " +
            element.current.type
        }}
      </td>
    </ng-container>

    <!-- Prediction Column -->
    <ng-container matColumnDef="prediction">
      <th mat-header-cell mat-sort-header="prediction" *matHeaderCellDef>
        Prediction
      </th>
      <td mat-cell *matCellDef="let element" class="prediction-cell">
        <mat-accordion>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ this.predictionText[element.prediction.id] }}
              </mat-panel-title>
              <!--
              <mat-panel-description>
                This is a summary of the content
              </mat-panel-description>
            -->
            </mat-expansion-panel-header>
            <ngx-chartjs
              *ngIf="element.prediction.chart"
              [data]="element.prediction.chart"
              type="line"
              [height]="200"
              [width]="250"
            ></ngx-chartjs>
            <p *ngIf="!element.prediction.chart">No Prediction Data</p>
          </mat-expansion-panel>
        </mat-accordion>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <span *ngIf="this.activeTab && !this.activeTab.data">NO DATA</span>
</div>
